<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>

    <div class="welContainer">
        <h1>Welcome to the scraping job website!</h1>
        <p>Here, you can be job hunters or job scrapers</p>
    </div>

    <div class="loginContainer">
        <p>Please login to proceed!</p>
        <a href='/users/login'>Login</a>
    </div>

</body>
</html>